@model EloBoost.Models.Payments.CartStepsClasses
<ul class="process-steps bottommargin clearfix">
    <li>
        <a href="javascript:;" class="i-circled i-bordered i-alt divcenter">1</a>
        <h5>Review Cart</h5>
    </li>
    <li>
        <a href="javascript:;" class="i-circled i-bordered i-alt divcenter">2</a>
        <h5>Enter Billing Info</h5>
    </li>
    <li>
        <a href="javascript:;" class="i-circled i-bordered i-alt divcenter">3</a>
        <h5>Complete Payment</h5>
    </li>
    <li>
        <a href="javascript:;" class="i-circled i-bordered i-alt divcenter">4</a>
        <h5>Order Complete</h5>
    </li>
</ul>
