@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Shared/Forms.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Shared/Forms.min.js" asp-append-version="true"></script>
    </environment>
}<!-- Page Title============================================= -->
<section id="page-title">
    <div class="container clearfix">
        <h1>Checkout</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </div>
</section><!-- #page-title end -->
<!-- Content============================================= -->
<section id="content">
    <div class="content-wrap" id="﻿AjaxFormArea">
        <div class="container clearfix">
            <div class="row clearfix">
                <div class="col_full">
                    <h3>Billing Address</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vel odio non dicta provident sint ex autem mollitia dolorem illum repellat ipsum aliquid illo similique sapiente fugiat minus ratione.</p>
                    <form id="AjaxForm" asp-action="Checkout" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="FormSecurity" />

                        <div class="col_half">
                            <label for="billing-form-name">Name:</label>
                            <input type="text" id="billing-form-name" name="billing-form-name" value="" class="sm-form-control" />
                        </div>

                        <div class="col_half col_last">
                            <label for="billing-form-lname">Last Name:</label>
                            <input type="text" id="billing-form-lname" name="billing-form-lname" value="" class="sm-form-control" />
                        </div>

                        <div class="clear"></div>

                        <div class="col_full">
                            <label for="billing-form-companyname">Company Name:</label>
                            <input type="text" id="billing-form-companyname" name="billing-form-companyname" value="" class="sm-form-control" />
                        </div>

                        <div class="col_full">
                            <label for="billing-form-address">Address:</label>
                            <input type="text" id="billing-form-address" name="billing-form-address" value="" class="sm-form-control" />
                        </div>

                        <div class="col_full">
                            <input type="text" id="billing-form-address2" name="billing-form-adress" value="" class="sm-form-control" />
                        </div>

                        <div class="col_full">
                            <label for="billing-form-city">City / Town</label>
                            <input type="text" id="billing-form-city" name="billing-form-city" value="" class="sm-form-control" />
                        </div>

                        <div class="col_half">
                            <label for="billing-form-email">Email Address:</label>
                            <input type="email" id="billing-form-email" name="billing-form-email" value="" class="sm-form-control" />
                        </div>

                        <div class="col_half col_last">
                            <label for="billing-form-phone">Phone:</label>
                            <input type="text" id="billing-form-phone" name="billing-form-phone" value="" class="sm-form-control" />
                        </div>

                        <div class="clear"></div>

                        <div class="col_full">
                            <a href="/Cart" class="button button-3d fleft"><< Cart</a>
                            <input type="submit" class="button button-3d fright" value="Place Order >>" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!-- #content end -->
