
@{
    ViewData["Title"] = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="fancy-title title-dotted-border title-center">
                <h3>3 Columns</h3>
            </div>

            <div class="row pricing bottommargin clearfix">

                <div class="col-md-4">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Starter</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>7<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>100</strong> User Accounts</li>
                                <li><strong>1 Year</strong> License</li>
                                <li>Phone &amp; Email Support</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="pricing-box best-price">
                        <div class="pricing-title">
                            <h3>Professional</h3>
                            <span>Most Popular</span>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>12<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>1000</strong> User Accounts</li>
                                <li><strong>2 Years</strong> License</li>
                                <li>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Business</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>19<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>500</strong> User Accounts</li>
                                <li><strong>3 Years</strong> License</li>
                                <li>Phone &amp; Email Support</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="fancy-title title-dotted-border title-center">
                <h3>4 Columns</h3>
            </div>

            <div class="row pricing bottommargin clearfix">

                <div class="col-lg-3">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Starter</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>7<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>100</strong> User Accounts</li>
                                <li><strong>1 Year</strong> License</li>
                                <li>Phone &amp; Email Support</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">

                    <div class="pricing-box best-price">
                        <div class="pricing-title">
                            <h3>Professional</h3>
                            <span>Most Popular</span>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>12<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>1000</strong> User Accounts</li>
                                <li><strong>2 Years</strong> License</li>
                                <li>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Business</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>19<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>500</strong> User Accounts</li>
                                <li><strong>3 Years</strong> License</li>
                                <li>Phone &amp; Email Support</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Enterprise</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>29<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>1000</strong> User Accounts</li>
                                <li><strong>5 Years</strong> License</li>
                                <li>Phone &amp; Email Support</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="fancy-title title-dotted-border title-center">
                <h3>Mini Pricing - 5 Columns</h3>
            </div>

            <div class="row pricing pricing-5 bottommargin clearfix">

                <div class="pricing-box pricing-minimal">
                    <div class="pricing-title">
                        <h3>Starter</h3>
                        <span>5GB in the Cloud</span>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">&euro;</span>0<span class="price-tenure">/mo</span>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-danger btn-block">Get Started</a>
                    </div>
                </div>

                <div class="pricing-box pricing-minimal best-price">
                    <div class="pricing-title">
                        <h3>Professional</h3>
                        <span>50GB in the Cloud</span>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">&euro;</span>12<span class="price-tenure">/mo</span>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-danger btn-block bgcolor border-color">Start Trial</a>
                    </div>
                </div>

                <div class="pricing-box pricing-minimal">
                    <div class="pricing-title">
                        <h3>Business</h3>
                        <span>100GB in the Cloud</span>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">&euro;</span>19<span class="price-tenure">/mo</span>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-danger btn-block">Start Trial</a>
                    </div>
                </div>

                <div class="pricing-box pricing-minimal">
                    <div class="pricing-title">
                        <h3>Enterprise</h3>
                        <span>500GB in the Cloud</span>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">&euro;</span>29<span class="price-tenure">/mo</span>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-danger btn-block">Start Trial</a>
                    </div>
                </div>

                <div class="pricing-box pricing-minimal">
                    <div class="pricing-title">
                        <h3>Unlimited</h3>
                        <span>&infin; GB in the Cloud</span>
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">&euro;</span>39<span class="price-tenure">/mo</span>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-danger btn-block">Start Trial</a>
                    </div>
                </div>

            </div>

            <div class="fancy-title title-dotted-border title-center">
                <h3>Pricing with Toggle switcher</h3>
            </div>

            <div id="section-pricing" class="page-section nopadding nomargin">

                <div class="pricing-tenure-switcher center bottommargin-sm" data-container="#pricing-switch">
                    <span class="pts-left">Monthly</span>
                    <div class="pts-switcher">
                        <div class="switch">
                            <input id="switch-toggle-pricing-tenure" class="switch-toggle switch-toggle-round" type="checkbox">
                            <label for="switch-toggle-pricing-tenure"></label>
                        </div>
                    </div>
                    <span class="pts-right">Yearly</span>
                </div>

                <div id="pricing-switch" class="pricing row bottommargin-lg clearfix">

                    <div class="col-lg-4 col-md-6">

                        <div class="pricing-box">
                            <div class="pricing-title">
                                <h3>Starter</h3>
                            </div>
                            <div class="pricing-price">
                                FREE
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><strong>Full</strong> Access</li>
                                    <li><i class="icon-code"></i> Source Files</li>
                                    <li><strong>100</strong> User Accounts</li>
                                    <li><strong>1 Year</strong> License</li>
                                    <li>Phone &amp; Email Support</li>
                                </ul>
                            </div>
                            <div class="pricing-action">
                                <a href="#" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Get Started</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6">

                        <div class="pricing-box best-price">
                            <div class="pricing-title">
                                <h3>Professional</h3>
                                <span>Most Popular</span>
                            </div>
                            <div class="pricing-price">
                                <div class="pts-switch-content-left"><span class="price-unit">&dollar;</span>12</div>
                                <div class="pts-switch-content-right"><span class="price-unit">&dollar;</span>99</div>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><strong>Full</strong> Access</li>
                                    <li><i class="icon-code"></i> Source Files</li>
                                    <li><strong>1000</strong> User Accounts</li>
                                    <li><strong>2 Years</strong> License</li>
                                    <li>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                        <i class="icon-star3"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="pricing-action">
                                <div class="pts-switch-content-left"><a href="#" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
                                <div class="pts-switch-content-right"><a href="#" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3">

                        <div class="pricing-box">
                            <div class="pricing-title">
                                <h3>Business</h3>
                            </div>
                            <div class="pricing-price">
                                <div class="pts-switch-content-left"><span class="price-unit">&dollar;</span>19</div>
                                <div class="pts-switch-content-right"><span class="price-unit">&dollar;</span>149</div>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><strong>Full</strong> Access</li>
                                    <li><i class="icon-code"></i> Source Files</li>
                                    <li><strong>500</strong> User Accounts</li>
                                    <li><strong>3 Years</strong> License</li>
                                    <li>Phone &amp; Email Support</li>
                                </ul>
                            </div>
                            <div class="pricing-action">
                                <div class="pts-switch-content-left"><a href="#" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
                                <div class="pts-switch-content-right"><a href="#" class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">Start Free Trial</a></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="fancy-title title-dotted-border title-center">
                <h3>Pricing Block</h3>
            </div>

            <div class="pricing-box pricing-extended bottommargin clearfix">

                <div class="pricing-desc">
                    <div class="pricing-title">
                        <h3>How many Themes can you Download today?</h3>
                    </div>
                    <div class="pricing-features">
                        <ul class="clearfix">
                            <li><i class="icon-desktop"></i> Ultra Responsive Layouts</li>
                            <li><i class="icon-eye-open"></i> Retina Ready Designs</li>
                            <li><i class="icon-beaker"></i> Advanced Admin Panel</li>
                            <li><i class="icon-magic"></i> Tons of Customization Options</li>
                            <li><i class="icon-font"></i> Support for Custom Fonts</li>
                            <li><i class="icon-stack3"></i> Premium Sliders Included</li>
                            <li><i class="icon-file2"></i> Photoshop Source Files Included</li>
                            <li><i class="icon-support"></i> 24x7 Priority Email Support</li>
                        </ul>
                    </div>
                </div>

                <div class="pricing-action-area">
                    <div class="pricing-meta">
                        As Low as
                    </div>
                    <div class="pricing-price">
                        <span class="price-unit">&euro;</span>39<span class="price-tenure">monthly</span>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="button button-3d button-xlarge btn-block nomargin">Get Started</a>
                    </div>
                </div>

            </div>

            <div class="fancy-title title-dotted-border title-center">
                <h3>Comparison Table</h3>
            </div>

            <table class="table table-hover table-comparison nobottommargin">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Starter</th>
                        <th>Professional</th>
                        <th>Business</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Space</td>
                        <td>1 GB</td>
                        <td>5 GB</td>
                        <td>20 GB</td>
                    </tr>
                    <tr>
                        <td>Bandwidth</td>
                        <td>10 GB</td>
                        <td>100 GB</td>
                        <td>500 GB</td>
                    </tr>
                    <tr>
                        <td>Email Accounts</td>
                        <td>100</td>
                        <td>1000</td>
                        <td>5000</td>
                    </tr>
                    <tr>
                        <td>MySQL Accounts</td>
                        <td>100</td>
                        <td>1000</td>
                        <td>5000</td>
                    </tr>
                    <tr>
                        <td>SSH Access</td>
                        <td><i class="icon-remove"></i></td>
                        <td><i class="icon-remove"></i></td>
                        <td><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <td>SMTP Management</td>
                        <td><i class="icon-remove"></i></td>
                        <td><i class="icon-remove"></i></td>
                        <td><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <td>FTP Access</td>
                        <td><i class="icon-remove"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <td>Google Adwords Credit</td>
                        <td><i class="icon-remove"></i></td>
                        <td><i class="icon-ok"></i></td>
                        <td><i class="icon-ok"></i></td>
                    </tr>
                    <tr>
                        <td>Monthly Price</td>
                        <td>Free</td>
                        <td>$9.99</td>
                        <td>$19.99</td>
                    </tr>
                    <tr>
                        <td>Quaterly Price</td>
                        <td>Free</td>
                        <td>$19.99</td>
                        <td>$49.99</td>
                    </tr>
                    <tr>
                        <td>Yearly Price</td>
                        <td>Free</td>
                        <td>$69.99</td>
                        <td>$149.99</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><a href="#" class="btn btn-secondary">Sign Up</a></td>
                        <td><a href="#" class="btn btn-secondary">Sign Up</a></td>
                        <td><a href="#" class="btn btn-secondary">Sign Up</a></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</section><!-- #content end -->
